@{
    ViewBag.Title = "About";
}
<div class="divider" style="margin-top: -2%;"></div>
<div class="content">
    <div class="container">
        <p>
            <b style="font-weight:bold">Bhiwandi Weavers’ Education Scoiety </b> plays a significant role for upliftment of the community. The
            Society was founded in the year 1973. The first institution established under this banner was
            Samadiya High School with 77 students enrolling in the first year. At present the Society is blessed to
            have more than 9000 students securing education.
        </p>
        <br />
        <p>
            With the efforts of the members striving towards the progress of the Society, today this
            esteemed organization has to its credit Pre-Primary School, 2 Primary School, 3 High School, 2 Junior
            Colleges, a Degree College and 2 Distance Education Courses.
        </p>
        <br />
        <p>
            With the sincere efforts of the members, B.W.E Society culminated in the establishment of
            Weavers’ English Medium School in the academic year 2005-2006. The history repeated itself with
            77 students got themselves enrolled in Jr. K.G. &amp; Sr. K.G classes in the first year of its inception.
            The main objective of B.W.E Society is to impart quality education through its various
            institution in order to produce students of knowledge, wisdom and adequate skills to compete in the
            fast changing world.
        </p>
        <br />
    </div>
</div>
