
@{
    ViewBag.Title = "Gallery";
}

<div class="divider" style="margin-top: -2%;"></div>
<div class="content">
    <div class="container">
        <h1 class="single">Photos</h1>
        <div class="main-content">
            <div class="slider-con">
                <ul class="bxslider">
                    <li>
                        <div class="slide">
                            <ul>
                                <li><a href="#"><img src="~/Images/c19f7da1-e42b-4261-87f4-0155cd2fb935.JPG" alt="" style="height:100px;width:178px"></a></li>
                                <li><a href="#"><img src="~/images/d434d490-a4be-4e8f-8365-9cd640b52bf9.JPG" alt="" style="height:100px;width:178px"></a></li>
                                <li><a href="#"><img src="~/images/56fc2a2e-57b0-497b-8a76-68a5020d42e6.JPG" alt="" style="height:100px;width:178px"></a></li>
                                <li><a href="#"><img src="~/images/5b41b80a-34b2-47cb-85a2-483402489d59.JPG" alt="" style="height:100px;width:178px"></a></li>
                                <li><a href="#"><img src="~/images/DSC01485.JPG" alt="" style="height:100px;width:178px"></a></li>
                                <li><a href="#"><img src="~/images/DSC05775.JPG" alt="" style="height:100px;width:178px"></a></li>
                                <li><a href="#"><img src="~/images/DSC_6292.JPG" alt="" style="height:100px;width:178px"></a></li>
                                <li><a href="#"><img src="~/images/DSC01074.JPG" alt="" style="height:100px;width:178px"></a></li>
                                <li><a href="#"><img src="~/images/DSC01473.JPG" alt="" style="height:100px;width:178px"></a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="slide">
                            <ul>
                                <li><a href="#"><img src="~/Images/DSC_5943.JPG" alt="" style="height:100px;width:178px"></a></li>
                                <li><a href="#"><img src="~/images/DSC_5968.JPG" alt="" style="height:100px;width:178px"></a></li>
                                <li><a href="#"><img src="~/images/DSC01950.JPG" alt="" style="height:100px;width:178px"></a></li>
                                <li><a href="#"><img src="~/images/DSC_6005.JPG" alt="" style="height:100px;width:178px"></a></li>
                                <li><a href="#"><img src="~/images/DSC_5985.JPG" alt="" style="height:100px;width:178px"></a></li>
                                <li><a href="#"><img src="~/images/DSC_6047.JPG" alt="" style="height:100px;width:178px"></a></li>
                                <li><a href="#"><img src="~/images/IMG_2452.JPG" alt="" style="height:100px;width:178px"></a></li>
                                <li><a href="#"><img src="~/images/IMG_2240.JPG" alt="" style="height:100px;width:178px"></a></li>
                                <li><a href="#"><img src="~/images/IMG_2443.JPG" alt="" style="height:100px;width:178px"></a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="slide">
                            <ul>
                                <li><a href="#"><img src="~/Images/IMG_5746.JPG" alt="" style="height:100px;width:178px"></a></li>
                                <li><a href="#"><img src="~/images/IMG_5763.JPG" alt="" style="height:100px;width:178px"></a></li>
                                <li><a href="#"><img src="~/images/IMG_5751.JPG" alt="" style="height:100px;width:178px"></a></li>
                                <li><a href="#"><img src="~/images/IMG_5682.JPG" alt="" style="height:100px;width:178px"></a></li>
                                <li><a href="#"><img src="~/images/DSC01485.JPG" alt="" style="height:100px;width:178px"></a></li>
                                <li><a href="#"><img src="~/images/DSC05775.JPG" alt="" style="height:100px;width:178px"></a></li>
                                <li><a href="#"><img src="~/images/DSC_6292.JPG" alt="" style="height:100px;width:178px"></a></li>
                                <li><a href="#"><img src="~/images/DSC01074.JPG" alt="" style="height:100px;width:178px"></a></li>
                                <li><a href="#"><img src="~/images/DSC01473.JPG" alt="" style="height:100px;width:178px"></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <aside id="sidebar">
            <div class="widget sidemenu">
                <ul>
                    <li><a href="#">Day of teacher<span class="nr"></span></a></li>
                    <li><a href="#">Student olympics<span class="nr"></span></a></li>
                    <li class="current"><a href="#">The best students in @DateTime.Now.Year<span class="nr"></span></a></li>
                    <li><a href="#">School party<span class="nr"></span></a></li>
                </ul>
            </div>
        </aside>
        <!-- / sidebar -->

    </div>
    <!-- / container -->
</div>


