@{
    ViewBag.Title = "Weavers'English Meddium Primary High School";
}
<div class="slider" style="margin-top: -2%;">
    <ul class="bxslider">
        <li style="background:url(../images/DSC01950.JPG) no-repeat 50% 50%;background-size: cover;
        height: 600px;">
            <div class="container">
                <div class="info">
                    <h2>It’s Time to <br><span>Get back to school</span></h2>
                    <a href="#">Check out our new programs</a>
                </div>
            </div>
            <!-- / content -->
        </li>
        <li style="background:url(../images/56fc2a2e-57b0-497b-8a76-68a5020d42e6.JPG) no-repeat 50% 50%;background-size: cover;
        height: 600px;">
            <div class="container">
                <div class="info">
                    <h2>It’s Time to <br><span>Get back to school</span></h2>
                    <a href="#">Check out our new programs</a>
                </div>
            </div>
            <!-- / content -->
        </li>
        <li style="background:url(../images/IMG_5682.JPG) no-repeat 50% 50%;background-size: cover;
        height: 600px;">
            <div class="container">
                <div class="info">
                    <h2>It’s Time to <br><span>Get back to school</span></h2>
                    <a href="#">Check out our new programs</a>
                </div>
            </div>
            <!-- / content -->
        </li>
    </ul>
    <div class="bg-bottom"></div>
</div>

<section class="posts">
    <div class="container">
        <article>
            <div class="pic"><img width="121" src="~/images/2.png" alt=""></div>
            <div class="info">
                <h3>The best learning methods</h3>
                <p>School is for learning.But ironically, one of the things that people don’t really learn to do well in school was to learn.  We are taught rote memorization and told to absorb it for arbitrary tests without being taught how to effectively absorb the material. And it seems as the methods we were actually taught in school aren’t all that effective.</p>
            </div>
        </article>
        <article>
            <div class="pic"><img width="121" src="~/images/3.png" alt=""></div>
            <div class="info">
                <h3>Awesome results of our students</h3>
                <p>A great teacher is one a student cherishes forever. Teachers have a longlasting impact on the lives of their students, and the best students inspire their teachers, too. Years ago, as a young, eager student, I would have told you that a great teacher was someone who provided classroom entertainment and focused very little on discipline and assignments</p>
            </div>
        </article>
    </div>
    <!-- / container -->
</section>

<section class="events">
    <div class="container">
        <h2>Upcoming events</h2>
        <article>
            <div class="current-date">
                <p>Jan</p>
                <p class="date">20</p>
            </div>
            <div class="info">
                <p>Online Quiz competition for different schools from mumbai</p>
                <a class="more" href="#">Read more</a>
            </div>
        </article>
        <article>
            <div class="current-date">
                <p>April</p>
                <p class="date">17</p>
            </div>
            <div class="info">
                <p></p>
                <a class="more" href="#">Read more</a>
            </div>
        </article>
        <article>
            <div class="current-date">
                <p>April</p>
                <p class="date">25</p>
            </div>
            <div class="info">
                <p></p>
                <a class="more" href="#">Read more</a>
            </div>
        </article>
        <article>
            <div class="current-date">
                <p>April</p>
                <p class="date">29</p>
            </div>
            <div class="info">
                <p></p>
                <a class="more" href="#">Read more</a>
            </div>
        </article>
        <div class="btn-holder">
            <a class="btn blue" href="#">See all upcoming events</a>
        </div>
    </div>
    <!-- / container -->
</section>
<div class="container">
    <a href="#fancy" class="info-request">
        <span class="holder">
            <span class="title">Request information</span>
            <span class="text">Do you have some questions? Fill the form and get an answer!</span>
        </span>
        <span class="arrow"></span>
    </a>
</div>

