@model IEnumerable<School.WebUI.SMHS.Models.StaffDetails>

<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Qualification</th>
        <th>Designation</th>        
    </tr>
    @{ 
        int i = 1;
    }
@foreach (var item in Model) {
    <tr>
        <td>
            @i
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qualification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Designation)
        </td>
    </tr>
    i++;
}

</table>
