
@{
    ViewBag.Title = "WeOffer";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}


<div class="welcome">
    <div class="container">
        <h3 class="heading-agileinfo">@ViewBag.ServiceName</h3>
        <div class="w3ls_news_grids">
            <div class="col-md-12 w3_agile_about_grid_left">

                <p>
                   @ViewBag.ParaText
                </p>
            </div>

            <div class="clearfix"> </div>
        </div>
    </div>
</div>

