
@{
    ViewBag.Title = "ThankYou";
}

<div class="inner_content_info_agileits">
    <div class="container">
        <h3 class="heading-agileinfo">Thank You<span>For Your valuable time for us.</span></h3>
        <p>
            Your message will be published when admin will approve the message, you can contact to admin. Please feel free to connect us.
        </p>

    </div>
</div>

